# SPDX-License-Identifier: GPL-3.0
# Scrapbook
#
# .gitignore
#
# COPYRIGHT NOTICE
# Copyright (C) 2024-2025 0x4248 and contributors
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the license is not changed.
#
# This software is free and open source. Licensed under the GNU general
# public license version 3.0 as published by the Free Software Foundation.



# Ok so whats going on here, seems pretty crazy, I know. Well I thought that
# using whitelists would be much easier to manage.

*.*

# Lets not ignore these important dotfiles
!.gitignore
!.junkref
!.init
!.project
!.config
!.defconfig

# Dirs
build/
bin/
appdata/
AppData/
__pycache__/

##### SORT THIS ####
!*.mk
!*.conf
!*.ld
!*.glsl
!*.html
!*.css
##### SORT THIS ####

# TEXT

!*.txt
!*.md
!*.tex

!README

### SOURCE FILLES ###
# C
!*.c
!*.h

# C++
!*.cpp
!*.c++
!*.hpp
!*.h++

# ARDUINO
!*.ino

# JAVA
!*.java

# FORTRAN
!*.f90

# ASM
!*.s
!*.S
!*.asm

### SCRIPTS ###
!*.py
!*.sh
!*.bash
!*.fish
