@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
    --color-background: #000;
    --color-background-alt: #000;
    --color-text: #cccccc;
    --color-text-highlight: #fff;
    --color-link: #69f;
    --color-link-visited: rgb(102, 219, 255);
    --color-codeblock-background: #1a1a1a;
    --color-hr: #b4b4b4;
}

* {
    font-size: 100%;
    font-family: "JetBrains Mono", monospace;
    background: var(--color-background);
    color: var(--color-text);
}

pre {
    white-space: pre-wrap;
}

a:link {
    color: var(--color-link);
    text-decoration: none;
}

a:visited {
    color: var(--color-link-visited);
}

*.q {
    color: var(--color-text-highlight);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 800;
    color: var(--color-text-highlight);
    margin: 0;
}

hr {
    border: none;
    border-top: 1px dashed var(--color-hr);
    height: 1px;
    width: 100%;
}

button,
textarea,
input,
select {
    border: 2px solid var(--color-link);
}

img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 4px;
}

b,
strong {
    color: var(--color-text-highlight);
}

p {
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 0;
    padding: 0;
    border-left: 4px solid var(--color-link);
    padding-left: 10px;
}
